{% extends 'base.html' %}
<!-- website\templates\base.html -->
{% block title %}Login{% endblock %}
{% block content %}
<table>
  <tr>
    <td>
<div class="d-flex flex-column flex-shrink-0 " style="background-color:#dcf7f7;width: 250px;height: 670px;margin-left:200px;">
</div>
    </td>
    <td>
<div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
      <div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
      <div class="card w-75 mb-3">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
    </td>
  </tr>
</table>
{% endblock %}